@import url("https://fonts.googleapis.com/css?family=Space+Mono");

body {
  font-family: "Space Mono", monospace;
  background-color: rgb(58, 35, 71);
}

h1 {
}

nav {
  background-color: lightblue;
  display: flex;
  top: 0px;
  position: fixed;
  width: 100%;
  align-content: space-around;
  justify-content: center;
}

nav a {
  padding: 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  text-decoration: none;
}

.welcome-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  color: whitesmoke;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 60px;
}
